@keyframes change {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: lime;
    }
}

#four .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lime;
}

#four .circle.active {
    animation: change 1s infinite alternate linear;
}